{% load i18n %}
{% load activeurl %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Camomile{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="{{ STATIC_URL }}vendor/jquery.js"></script>

    <!-- Styles -->
    <link href="{{ STATIC_URL }}vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}vendor/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}vendor/fontawesome/css/font-awesome.min.css" rel="stylesheet">
    <!--[if IE 7]>
    <link rel="stylesheet" href="{{ STATIC_URL }}vendor/fontawesome/css/font-awesome-ie7.min.css">
    <![endif]-->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->    
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        #editor {
            position: absolute;
            width: 1170px;
            height: 500px;
        }
    </style>
    {% block head_extras %}{% endblock %}
  </head>
  <body>    
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">
            Camomile
            </a>
          <div class="nav-collapse collapse">
            {% activeurl %}
            <ul class="nav">
                <li><a href="{% url 'projects' %}">{% trans "Projects" %}</a></li>
            </ul>
            <ul class="nav pull-right">
                {% include "accounts/user_menu.html" %}
            </ul>
            {% endactiveurl %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
    {% if messages %}
    <div class="row-fluid">
    <div class="span12">
        {% for message in messages %}
        <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
    </div>
    </div>
    {% endif %}

    {% block content %}{% endblock %}    
    </div> <!-- /container -->
    <!-- Import javascript -->
    <script src="{{ STATIC_URL }}vendor/holder.js"></script>
    <script src="{{ STATIC_URL }}vendor/bootstrap/js/bootstrap.min.js"></script>
    {% block body_extras %}{% endblock %}    
  </body>
</html>
