{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h3>{% trans "Activation error" %}</h3>
<div class="alert alert-error">
{% blocktrans %}
Your activation data are incorrect.
{% endblocktrans %}
</div>
{% endblock %}