{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h3>{% trans "Success" %}</h3>
<div class="alert alert-success">
{% blocktrans %}
Your are registered successfully. Check your mail inbox for new message from us. 
You need activate your account by following the link at that message.
{% endblocktrans %}
</div>
{% endblock %}