{% extends "base.html" %}
{% load i18n bootstrap_toolkit %}

{% block content %}
{% if not user.is_authenticated %}
<h3>{% trans "Request invite" %}</h3>
<form method="post" class="form-vertical">
{% csrf_token %}
{{ form|as_bootstrap:"vertical" }}
<div class="form-actions">
<input class="btn btn-primary" type="submit" name="submit" value="{% trans 'Submit' %}" />
</div>
</form>
{% else %}
<div class="alert alert-warning">
{% trans "You are already authorized." %}
</div>
{% endif %}
{% endblock %}