{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h3>{% trans "Unknown invite" %}</h3>
<div class="alert alert-error">
{% blocktrans %}
Your invite code is incorrect or already activated.
{% endblocktrans %}
</div>
{% endblock %}