{% extends "base.manage.html" %}
{% load i18n %}
{% block content %}
<h1>{{ collection.title }}</h1>
<table class="table table-striped table-bordered">
<tr>
    <th>{% trans "Title" %}</th>
</tr>
{% for d in documents %}
<tr>
    <td><a href="{% url 'document' project.identifier collection.name d.filename %}">{{ d.title }}</a></td>
</tr>
{% endfor %}
</table>
{% endblock %}