{% extends "projects/project.base.html" %}
{% load i18n %}
{% block content %}
<div class="row-fluid">
    <div class="span12">        
    <h1>{{ project }}: {{ path }}</h1>
    </div>
</div>
<div class="row-fluid">
<div class="span12">
<div class="btn-toolbar">
    <div class="btn-group">    
        <a {% if pardir %}href="{% url 'project_file' project.identifier '' %}"{% endif %} class="btn btn-info {% if not pardir %}disabled{% endif %}"><i class="icon-home"></i> {% trans 'Home' %}</a>            
        <a {% if pardir %}href="{% url 'project_file' project.identifier file.full_name %}"{% endif %} class="btn btn-info {% if not pardir %}disabled{% endif %}"><i class="icon-arrow-up"></i> {% trans 'Up' %}</a>
    </div>

  <div class="btn-group">
    <a href="{% url 'new_file' project.identifier path %}" class="btn btn-info"><i class="icon-file-alt"></i> {% trans 'New file' %}</a>
    <a href="{% url 'new_folder' project.identifier path %}" class="btn btn-info"><i class="icon-folder-close"></i> {% trans 'New folder' %}</a>
  </div> 
</div>

{% if files %}
<table class="table table-striped table-bordered">
<tr>
    <th width="24px"><input type="checkbox"/></th>
    <th>{% trans "Name" %}</th>
    <th>{% trans "Size" %}</th>
    <th>{% trans "Actions" %}</th>
</tr>
{% for file in files %}
<tr>
    <td><input type="checkbox"/></td>
    <td><a href="{% url 'project_file' project.identifier file.full_name %}">
        {% if file.is_dir %}<i class="icon-folder-close"></i>{% endif %}
        {{ file.name }}
    </a></td>
    <td>{% if not file.is_dir %}
        {{ file.size|filesizeformat }}
        {% else %}
        <span class="badge badge-info">{% trans "Folder" %}</span>
        {% endif %}</td>
    <td>
        {% if file.name != '..' %}
        <div class="btn-group">
            <a href="{% url 'rename_file' project.identifier file.full_name %}" class="btn btn-success" title="{% trans 'Rename' %}"><i class="icon-edit"></i></a>
            <a href="{% url 'delete_file' project.identifier file.full_name %}" 
                class="btn btn-danger delete-link" title="{% trans 'Delete' %}"
                {% if file.is_dir %}
                data-message="{% trans 'Do you really want to delete this folder?' %}"
                {% else %}
                data-message="{% trans 'Do you really want to delete this file?' %}"
                {% endif %}
                ><i class="icon-trash"></i></a>
        </div>
        {% endif %}
    </td>
</tr>
{% endfor %}
</table>

<script type="text/javascript">
$(".delete-link").click(function() {
  if(!confirm($(this).data('message'))) return false;
});

</script>
{% else %}
<div class="alert alert-info">
{% trans "Folder is empty." %}
</div>
{% endif %}

</div></div>
{% endblock %}
