{% extends "projects/project.base.html" %}
{% load i18n %}
{% block head_extras %}
<script src="{{ STATIC_URL }}vendor/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}vendor/ace/theme-textmate.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}vendor/ace/theme-monokai.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}vendor/ace/mode-{{ mode }}.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
{% block content %}
<div class="row-fluid">
    <div class="span12">        
    <h1>{{ project }}: {{ path }}</h1>    
    </div>
</div>
<div class="row-fluid">
<div class="span12">
<div class="btn-toolbar">
  <div class="btn-group">
    <a href="{% url 'project_file' project.identifier dirname %}" class="btn btn-info"><i class="icon-arrow-left"></i> {% trans 'Close' %}</a>
    <a href="javascript:file_save()" class="btn btn-info"><i class="icon-save"></i> {% trans 'Save' %}</a>    
  </div>
</div>

<div id="editor">{{ src }}</div>
</div>
</div>

<div class="row-fluid" style="margin-top:500px;">
    <div class="span12">        
    </div>
</div>

{% endblock %}
{% block body_extras %}
<script type="text/javascript">
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/{{ mode }}");
    editor.setFontSize('14px');
    editor.getSession().setUseSoftTabs(true);
    editor.setShowInvisibles(true);
    editor.getSession().setUseWrapMode(true);
    // editor.getSession().setWrapLimitRange(null, null);
    // editor.renderer.setPrintMarginColumn(80);

    function file_save() {
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "{% url 'file_save' %}",
            data: {
                project_identifier: "{{ project.identifier }}",
                path: "{{ path }}",
                src: editor.getValue(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data) {
                if(data.success === true) {
                    alert("Saved!");
                } else {
                    alert("Fail!");
                }
            }
        });
    }
</script>
{% endblock %}
