{% extends "projects/project.base.html" %}
{% load i18n %}
{% load bootstrap_toolkit %}
{% block content %}
<div class="row-fluid">
    <div class="span12">        
    <h1>{{ project }}: {% trans "New folder" %}</h1>
    </div>
</div>
<div class="row-fluid">
<div class="span12">
<form method="post">
    {% csrf_token %}
    {{ form|as_bootstrap:"vertical" }}
    <div class="form-actions">
    <input class="btn btn-primary" type="submit" name="submit" value="{% trans 'Create folder' %}" />
    </div>
</form>
</div>
</div>
{% endblock %}