{% extends "projects/project.base.html" %}
{% load i18n %}
{% block content %}
<h1>{% trans "Projects" %}</h1>

<table class="table table-striped table-bordered">
<tr>
    <th>{% trans "Name" %}</th>
    <th>{% trans "Description" %}</th>
    <th>{% trans "Actions" %}</th>
</tr>
{% for p in projects %}
<tr>
    <td><a href="{% url 'project' p.identifier %}">{{ p.url }}</a></td>
    <td>{{ p.description }}</td>
    <td>
        <span class="label">Not implemented yet</span>
    </td>
</tr>
{% endfor %}
</table>
{% endblock %}