{% extends "projects/project.base.html" %}
{% load i18n %}
{% block content %}
<h1>{{ project.title }}</h1>
<a href="{{ project.url }}" target="_blank">{{ project.url }}</a>

<dl>
    <dt>{% trans "description" %}</dt>
    <dd>{{ project.description }}</dd>
</dl>

<div class="btn-toolbar">
  <div class="btn-group">
    <a href="{% url 'generate_project' project.identifier %}" class="btn btn-info"><i class="icon-bolt"></i> {% trans 'Generate' %}</a>
  </div>
</div>


<table class="table table-striped table-bordered">
    <tr>
        <th>{% trans "Sections" %}</th>
    </tr>

    <tr><td><a href="{% url 'project_file' project.identifier '' %}">{% trans "Files" %}</a></td></tr>
</table>
{% endblock %}