{% extends "base.manage.html" %}
{% load i18n %}
{% block content %}
<h1>{% trans "Project templates" %}</h1>

<table class="table table-striped table-bordered">
<tr>
    <th>{% trans "Name" %}</th>
    <th>{% trans "Description" %}</th>
    <th>{% trans "Actions" %}</th>
</tr>
{% for t in project_templates %}
<tr>
    <td>{{ t.name }}</td>
    <td>{{ t.description }}</td>
    <td>
        <a href="#" class="btn btn-success">{% trans "New project" %}</a>
    </td>
</tr>
{% endfor %}
</table>
{% endblock %}