{% load i18n %}
<div style="padding: 8px 0;">
<ul class="nav nav-list">
    <li class="nav-header">{% trans "Actions" %}</li>
    <li><a href="{% url 'project_templates' %}">{% trans "Project templates" %}</a></li>
    <li><a href="{% url 'projects' %}">{% trans "Projects" %}</a></li>
    <li class="nav-header">{% trans "Options" %}</li>
    <li><a href="{% url 'server_public_key' %}">{% trans "Public key" %}</a></li>
</ul>
</div>