{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="hero-unit">
    <h1>{% trans "Make your site easily" %}</h1>    
    {% blocktrans %}
    <p>
        The new generation web site platform.
    </p>
    {% endblocktrans %}    
</div>

    {% if not user.is_authenticated %}
        <div class="row-fluid">
        <div class="span3 offset3">
        <a class="btn btn-success btn-large btn-block" href="/accounts/login/">{% trans "Log in" %}</a>
        </div>
        <div class="span3">
        <a class="btn btn-warning btn-large btn-block" href="{% url 'request_invite' %}">{% trans "Request invite" %}</a>
        </div>
        </div>
    {% endif %}
{% endblock %}